<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>780616930369-1eqtf2gie3ps76jrcsmv1d95ivvb86t8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.780616930369-1eqtf2gie3ps76jrcsmv1d95ivvb86t8</string>
	<key>API_KEY</key>
	<string>AIzaSyCECvI42HAua95bSI6p98cofo1WMZMacXA</string>
	<key>GCM_SENDER_ID</key>
	<string>780616930369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.KadenZheng.PhoenikzUHS</string>
	<key>PROJECT_ID</key>
	<string>phoenikz-9f0ca</string>
	<key>STORAGE_BUCKET</key>
	<string>phoenikz-9f0ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:780616930369:ios:270ced76b48d2fb7dee2c0</string>
</dict>
</plist>